*{
    margin: 0;
    padding: 0;

}
.flexible-container{
    display: flex;
}
h1{
    word-spacing: 10px;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 3rem;
   padding: 20px;
}
h3{
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
   padding: 20px;
}
.width{
    
   width: 50%; 
   padding-left: 2%;
   margin: 5%;

}
.width p{
    font-family: 'Mukta', sans-serif;
    padding: 20px;
    top: 10%;
}
.width span{
    color: orange;
}
.width img{
    width: 80%;
}
.btn{
    
    margin: 5px 0px 0px 20px;
    text-decoration: none;
    background-color: rgba(246, 77, 10, 0.699);
    padding: 10px 40px;
    color: rgb(254, 240, 240);
    font-weight: bold;
    border-radius: 18px;
    transition: all .05 ease;
}
.btn:hover{
    background-color: rgb(13, 13, 13);
    color: white;
    box-shadow: 0 0 35px rgb(14, 13, 13);
    transition: .6s ease-in-out;

}
.pic{
    background-image: url("images/top-banner.png") ;
    background-repeat: no-repeat;

}
.photo{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.color{
    color: orange;
}
.area{
    width: 50%; 
    padding-left: 2%;
    margin: 5%;
}
.exeprince-item{
    box-shadow: 10px 10px 40px;
    width: 40%;
    margin-left: 6%;
    margin-right: 8%;
    padding-left: 10px;
    border-left: 6px solid orange;
}
h2{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 40px;
}
.margin{
    color: rgb(75, 234, 12);
    text-align: center;
}